html {
    --bg-color: #2c2b3b;
    --bg-dark: #181720;
    --bg-light: #363549;
    --text-color: #dfdfdf;
    --border-color: var(--text-color);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--bg-color);
    color: var(--text-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    margin: 0;
}

button {
    background: none;
    background-color: var(--bg-dark);
    border: 1px solid var(--border-color);
    padding: 3px 6px 3px 6px;
    color: var(--text-color);
    border-radius: 4px;
}

button:hover {
    background-color: var(--bg-light);
    cursor: pointer;
}
