html {
    --bg-color: #3b312b;
    --bg-dark: #201b17;
    --bg-light: #494035;
    --text-color: #dfdfdf;
    --border-color: var(--text-color);
    --border-color-dark: #7e7e7e;
    --link-color: #9182e6;
    --link-visited-color: #8b4eda;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--bg-color);
    color: var(--text-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    margin: 0;
}

button {
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: none;
    background-color: var(--bg-dark);
    border: 1px solid var(--border-color-dark);
    padding: 3px 6px 3px 6px;
    color: var(--text-color);
    border-radius: 4px;
}

button:hover {
    background-color: var(--bg-light);
    cursor: pointer;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:visited.no-recolor {
    color: var(--link-color);
}
